In [36]:
def hours():
    print('Open 9-5 daily')

In [41]:
import Zoo
Zoo.hours()

AttributeError: module 'Zoo' has no attribute 'hours'

In [37]:
import os
print(os.listdir())

['.anaconda', '.bash_history', '.conda', '.condarc', '.continuum', '.git', '.gitconfig', '.idea', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.virtual_documents', '.vscode', 'ana', 'anaconda3', 'AppData', 'Application Data', 'arrow_exo.py', 'assignment1.ipynb', 'assignment2.ipynb', 'assignment3', 'assignment3.ipynb', 'binareysearch_exo.py', 'Contacts', 'Cookies', 'djangogirls', 'Documents', 'Downloads', 'exo.py', 'Favorites', 'git', 'hello_world_test.py', 'Links', 'Local Settings', 'module4.ipynb', 'Module4.py', 'Mod_3_tutorial.ipynb', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{3d2e5fb3-2428-11ef-af10-00eebcdb0f4e}.TM.blf', 'NTUSER.DAT{3d2e5fb3-2428-11ef-af10-00eebcdb0f4e}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{3d2e5fb3-2428-11ef-af10-00eebcdb0f4e}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'practice', 'PrintHood', 'PycharmProjects', 'Recent', 'Saved Games', 'Searches', 'SendTo', 'Start Menu', 'student_qualification.py', 'Templates', 'test_1.py', 'Untitled.ipynb', 'untitled.py', 'untitled1.py', 'Videos', 'Zoo.py', '__pycache__']

In [42]:
import Zoo as menagerie

In [43]:
menagerie.hours()

AttributeError: module 'Zoo' has no attribute 'hours'

In [ ]:
#Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
    (book_Id VARCHAR(20) PRIMARY KEY,
    title TEXT,
     author TEXT,
     year INTEGER)''')

In [50]:
##Read books2.csv and insert its data into the book tabl
import csv

books2 = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books2.csv', 'wt', newline='') as fout:  # Added .csv extension and newline=''
    csvout = csv.writer(fout)
    csvout.writerows(books2)

In [54]:
import csv

with open('books2.csv', 'rt') as fin:  
    cin = csv.reader(fin)
    header = next(cin)
    books2 = [row for row in cin]

print("Header:", header)
print("Books Data:", books2)

Header: ['title', 'author', 'year']
Books Data: [['The Weirdstone of Brisingamen', 'Alan Garner', '1960'], ['Perdido Street Station', 'China Miéville', '2000'], ['Thud!', 'Terry Pratchett', '2005'], ['The Spellman Files', 'Lisa Lutz', '2007'], ['Small Gods', 'Terry Pratchett', '1992']]

In [85]:
from sqlalchemy import create_engine, MetaData, Table
import sqlalchemy as sa

# Define the connection URL (replace with your actual database URL)
DATABASE_URL = 'sqlite:///books.db'  # Example for SQLite, replace as needed for your setup

# Create the engine
engine = create_engine(DATABASE_URL)

# Create a metadata object
metadata = sa.MetaData()

# Define your 'books' table (make sure it's correct or already exists)
books = Table('books', metadata, autoload_with=engine)

In [86]:
# Execute the query
stmt = sa.select(books.c.title).order_by(books.c.title.asc())

In [87]:
# Connect to the database and execute the query
with engine.connect() as conn:
    result = conn.execute(stmt)
    # Fetch and print the results
    for row in result.fetchall():
        print(row['title'])